.navbar__account-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: end;
    gap: .8rem;
}

.navbar__shoppingcart{
    position: relative;
    width: 30%;
}

.navbar__shoppingcart-count{
    position: absolute;
    color: aliceblue;
    left: 40%;
    top: -15%;
}

.navbar__shoppingcart-image{
    width: 100%;
}

.navbar__account{
    display: flex;
}

.navbar__account-link {
    text-align: center;
}

.navbar__username {
    color: aliceblue;
    text-align: center;
    font-size: 16px;
}

.navbar__account-img {
    width: 60%;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 850px) {

    .navbar__shoppingcart-count{
        font-size: 12px;
        left: 35%;
        top: -20%;
    }

    .navbar__shoppingcart-image{
        width: 80%;
    }

    .navbar__username {
        font-size: 12px;
        align-content: center;
    }

    .navbar__account-img {
        width: 45%;
    }

}

/* Media Query para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {

    .navbar__account-container {
        grid-column: 2;
        grid-row: 1;
        gap: 0;
    }

}
