/* Primary font */
.inter-bold {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Secondary font */
.padauk-bold {
    font-family: "Padauk", serif;
    font-weight: 700;
    font-style: normal;
}

.padauk-regular {
    font-family: "Padauk", serif;
    font-weight: 400;
    font-style: normal;
}

/* Card primary font */
.phudu-bold {
    font-family: "Phudu", serif;
    font-weight: 700;
    font-style: normal;
}

.phudu-regular {
    font-family: "Phudu", serif;
    font-weight: 400;
    font-style: normal;
}

/* Card secondary font */
.hammersmith-one-regular {
    font-family: "Hammersmith One", serif;
    font-weight: 400;
    font-style: normal;
}