:root {
  --background-color-header: #054c68;
  --background-color-banner: #00172E;
  --background-color-principal: #00668D;
  --background-color-secundario: #F0F5F5;
  --background-color-footer: #1985BF;
  --button-color: #EA9A28;
}

body{
  font-family: "Hammersmith One", serif;
  font-weight: 400;
  font-style: normal;
}

img, button, select{
  cursor: pointer;
}

