@import url(_reset.css);
@import url(_variables.css);

@keyframes loadingBar {
    0% {
        width: 0%;
        opacity: 0.5;
    }
    50% {
        width: 100%;
        opacity: 1;
    }
    100% {
        width: 0%;
        opacity: 0.5;
    }
}

.animate-loading-bar {
    animation: loadingBar 3s ease-in-out infinite;
}