.banner{
    text-align: center;
    padding: 50px 0 80px 0;
    background-color: var(--background-color-principal);
    position: relative;
    overflow: hidden;

    img{
        border-radius: 1.5rem;
        border: 1px solid white;
        padding: .5rem;
        width: 60%;
    }
}

.banner::after{
    content: '';
    background-image: url(../../assets/img/bombilla.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    width: 20%;
    height: 75%;
    top: 20%;
    right: -3%;
}

.banner::before{
    content: '';
    background-image: url(../../assets/img/Treasure.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0%;
    left: -10%;
}