.navbar__logo-container{
    width: fit-content;
}

.navbar__menu{
    display: none;
}

.navbar__logo{
    width: 60%;
}

.navbar__logo-img{
    width: 100%;
}

/* Media Query para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {

    .navbar__logo-container{
        width: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        justify-self: baseline;
        gap: .2rem;
    }

    .navbar__menu{
        display: block;
        width: fit-content;
    }

    .navbar__menu-image {
        width: 80%;
        aspect-ratio: 1 / 1; 
        object-fit: contain; 
    }

    .navbar__logo{
        width: 50%;
    }
    
};